:javascript
  $(function(){

    tinyMCE.init({
      mode: "textareas",
      theme: "advanced",
      plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",
      theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
      theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
      theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
      theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true,
      
      content_css: "css/content.css",

      template_external_list_url : "lists/template_list.js",
      external_link_list_url : "lists/link_list.js",
      external_image_list_url : "lists/image_list.js",
      media_external_list_url : "lists/media_list.js",
 
      style_formats : [
        {title : 'Bold text', inline : 'b'},
        {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
        {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},        {title : 'Example 1', inline : 'span', classes : 'example1'},
        {title : 'Example 2', inline : 'span', classes : 'example2'},
        {title : 'Table styles'},
        {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
      ]
    });


    $(".posts > .post-actions > .open").on("click",function(event){
      if ( $("i", this).hasClass("icon-resize-full") ){
        $(".post-content", $(this).parent().parent()).show(); 
        $("i", this).removeClass("icon-resize-full").addClass("icon-resize-small");
        $("span", this).html("Close");
      }else{
        $(".post-content", $(this).parent().parent()).hide(); 
        $("i", this).removeClass("icon-resize-small").addClass("icon-resize-full");
        $("span", this).html("Open");
      } 
      return false;
    });  

    $(".posts > .post-actions > .edit").on("click",function(event){
      if ( $("i", this).hasClass("icon-trash") ){
        var id = $(this).parent().parent().attr("id");
        var ed = tinyMCE.get("editor-" + id);
        ed.setContent("");
        ed.hide();
        $(".post-editor", $(this).parent().parent()).hide(); 
        $("i", this).removeClass("icon-trash").addClass("icon-edit");
        $("span", this).html("Edit");
        $(".post-actions > .save-pub",$(this).parent().parent()).hide();
        $(".post-actions > .save-draft",$(this).parent().parent()).hide();
      }else{
        var id = $(this).parent().parent().attr("id");
        var ed = tinyMCE.get("editor-" + id);
        var content = $(".post-content > div", $(this).parent().parent()).html(); 
        console.log(content);
        ed.show();
        ed.setContent(content);
        $(".post-editor", $(this).parent().parent()).show();
        $("i", this).removeClass("icon-edit").addClass("icon-trash");
        $("span", this).html("Cancel");
        $(".post-actions > .save-pub",$(this).parent().parent()).show();
        $(".post-actions > .save-draft",$(this).parent().parent()).show();
      } 
      return false;
    });  
  });

- @space.posts.each do |post|
  %div.row-fluid.posts(id = "#{post.id}")
    %div.post-title
      %a(href="#")
        = post.title
    %div.post-info
      %div
        = post.display_date
      %div
        %i.icon-comment
        = post.comments_count
      %div
        %i.icon-heart
        = post.likes_count
      %div
        %i.icon-eye-open
        = post.views_count
    %div.post-content
      %div(style="width: 100%;")
        = post.body_full
    %div.post-editor
      %textarea(name = "editor-#{post.id}" style="display:none; width: 75%; height: 500px;" id ="editor-#{post.id}")
    %div.post-actions
      %a.save-pub(href="#" style="display: none;")
        %i.icon-check
        %span
          Publish
      %a.save-draft(href="#" style="display: none;")
        %i.icon-file
        %span
          Save
      %a.edit(href="#")
        %i.icon-edit
        %span
          Edit
      %a.open(href="#")
        %i.icon-resize-full
        %span
          Open
      
  %hr(style="border-color: white; border-top: 2px dashed #F1F1F1; margin: 10px 0; width: 100%;  margin-left: 20px;")
